.heatmap-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 500;
  }
  
  .icon-button-wrapper {
    background: rgb(249, 249, 249);
    border-radius: 50%;
    padding: 2px;
  }

  .button-container {
    position: absolute; 
    right: 50px;
    white-space: nowrap;
    align-items: right;
  }


  #only-mobile {
    visibility: hidden;
  }


  @media only screen and (max-width: 940px) {
    #only-mobile {
      visibility: visible;
    }
    
    .hidden {
      visibility: hidden;
    }

    .button-container {
      display: flex;
      flex-direction: column;
      align-items: right;
      white-space: normal;
      max-width: 200px;
    }
  }

  .button {
    background-color: rgb(249, 249, 249);
    border-radius: 8px;
    margin: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(225, 225, 225);
}

.button.selected {
    background-color: #3D5339;
    color: #F9F9F9;
}