* {
  margin: 0;
  color: #3D5339;
}



.pro-sidebar {
  height: 100vh;
  z-index: 2000;
  font-family: 'Lunasima', sans-serif;
  font-size: 20px;
  background-color: white;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-map {
  width: 100%;
  height: 100%;
}

.gem-menu-item {
  font-size: 14px;
  padding-left: 35px;
}

.dateHeatmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  height: 100%;
  margin: 5px;
  padding-left: 60px;
}

.autosuggest-form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start; 
height: 100%;
margin: 5px;
padding-left: 60px;
}

#react-autowhatever-1 li {
  padding: 5px;
  display: box;
  width: 244px;
  overflow: hidden;
  max-height: 60px;
  border-bottom: 2px solid #000000;
}

.autosuggest-form li:hover, .circular-walking li:hover {
  background-color: rgba(61, 83, 57, 0.3);
}

.circular-walking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  height: 100%;
  margin: 5px;
  padding-left: 60px;
}

/* Loading screen: */

#loading-screen {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1000;
  cursor: pointer;
}

#loading-screen:after {
  content: " ";
  display: block;
  position: relative;
  left: 48%;
  top: 40%;
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input {
  margin-top: 7px;
  width: 254px !important;
  height: 30px !important;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #3D5339;
  background: #FBFBFB;
  padding: 0px;
  padding-left: 10px;
  color: rgba(61, 83, 57);
  font-size: 16px;
}
input::placeholder {
  color: rgba(61, 83, 57);
  opacity: 0.7;
}

select {
  margin-top: 7px;
  width: 264px !important;
  height: 30px !important;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #3D5339;
  background: #FBFBFB;
  color: rgba(61, 83, 57, 1);
  font-size: 16px;
  padding-left: 5px;
  padding-right: 20px;
}

.sidebar-submit {
  background-color: rgba(61, 83, 57);
  color: #F9F9F9;
  width: 100px;
  height: 40px;
  border: hidden;
  border-radius: 5px;
  margin-top: 16px;
}

.sidebar-submit:hover {
  background-color: rgba(61, 83, 57, 0.6);
}
